.single-project {
  font-family: "Lato", sans-serif;
  text-align: left;
  margin-left: 30px;
}

.single-project > div {
  float: left;
  width: 45%;
  padding: 20px;
}

.hours-table {
  border: 2px solid black;
  border-radius: 2px;
}

.project-delete-icon {
  cursor: pointer;
}
